.ambra-search-bar{
    min-width: 50vw;;
}

.squareone.jpg{
    width: 150px;
    height: 100;
}
.squaretwo.jpg{
    width: 150px;
    height: 100;
}
.squareup.jpg{
    width: 150px;
    height: 100;
}
.howyoulikethat.jpg{
    width: 150px;
    height: 100;
}
.killthislove.jpg{
    width: 150px;
    height: 100;
}
.LALISA.jpg{
    width: 150px;
    height: 100;
}
.r.jpg{
    width: 150px;
    height: 100;
}
.solo.jpg{
    width: 150px;
    height: 100;
}

.thealbum.jpg{
    width: 150px;
    height: 100;
}
.squareone2.jpg{
    width: 75px;
    height: 50;
}
.squaretwo2.jpg{
    width: 75px;
    height: 50;
}
.squareup2.jpg{
    width: 75px;
    height: 50;
}
.howyoulikethat2.jpg{
    width: 75px;
    height: 50;
}
.killthislove2.jpg{
    width: 75px;
    height: 50;
}
.LALISA2.jpg{
    width: 75px;
    height: 50;
}
.r2.jpg{
    width: 75px;
    height: 50;
}
.solo2.jpg{
    width: 75px;
    height: 50;
}
.thealbum2.jpg{
    width: 75px;
    height: 50;
}


