.ambra-search-bar{
    min-width: 25vw;;
}

.squareone.jpg{
    width: 150px;
    height: 100;
}
.squaretwo.jpg{
    width: 150px;
    height: 100;
}
.squareup.jpg{
    width: 150px;
    height: 100;
}
.howyoulikethat.jpg{
    width: 150px;
    height: 100;
}
.killthislove.jpg{
    width: 150px;
    height: 100;
}
.LALISA.jpg{
    width: 150px;
    height: 100;
}
.r.jpg{
    width: 150px;
    height: 100;
}
.solo.jpg{
    width: 150px;
    height: 100;
}
.thealbum.jpg{
    width: 150px;
    height: 100;
}

.savage.jpg{
    width: 75px;
    height: 50;
}

.next-level.jpg{
    width: 75px;
    height: 50;
}

.eleven.jpg{
    width: 75px;
    height: 50;
}